.about {
  background-image: url("./img/about/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 0 102px;
  text-align: left;
  & .container {
    @include adaptiv-value("padding-left", 40, 15);
    @include adaptiv-value("padding-right", 40, 15);
  }
  &__inner {
    @extend %flex;
  }
  &__left,
  &__right {
    width: 50%;
  }
  &__right {
    @include adaptiv-value("padding-left", 53, 25);
    @include media($tablet) {
      flex: 1 0 auto;
      padding: 0;
    }
  }
  &__left {
    @include media($tablet) {
      display: none;
    }
  }
  &__link {
    @include adaptiv-value("font-size", 22, 18);
    color: #00b4dc !important;
    line-height: 64px;
    transition: all 0.4s;
    &:hover {
      color: #fff !important;
      text-decoration: underline;
    }
  }
  &__title {
    @include adaptiv-value("font-size", 28, 22);
    text-transform: none;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 14px;
    font-weight: 600;
    @include media($mobile) {
      line-height: 28px;
      font-weight: 500;
    }
  }
  &__descr {
    @include adaptiv-value("margin-bottom", 31, 16);
    color: #333333;
    font-weight: 350;
  }
  &__substrate {
    @include media($tablet) {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 15px 47px 23px 49px;
      border-radius: 10px;
    }
    @include media($mobile) {
      padding: 14px 15px 24px 42px;
    }
  }
}
