.bottom-header-catalog {
  background-color: #fff;
  color: #333333;
  position: absolute;
  top: -1000px;
  opacity: 0;
  transition: all 0.5s ease-out;
  &__list {
    background: #ffffff;
    width: 435px;
  }
  &__item {
    border-bottom: 1px solid rgba(215, 215, 215, 1);
    padding: 10px 24px 10px 24px;
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      content: url("./img/header-catalog/header-catalog-arrow-right.svg");
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      background-color: $main-blue;
    }
  }
  &__link {
    @include adaptiv-value("font-size", 16, 14);
    font-weight: 350;
    line-height: 33px;
  }
}

.bottom-header-catalog.show {
  top: auto;
  opacity: 1;
}

.bottom-header-catalog.show .navbar__item-catalog {
  &::before {
    transform: rotate(180deg);
  }
}
