.header {
  @include media($tablet) {
    background-color: $main-bcg-color;
  }
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  gap: 23px;
  &__logo {
    flex: 1 0 auto;
  }
  &__work-time span,
  &__phone span {
    font-weight: 900;
  }
  &__work-time,
  &__phone {
    @include adaptiv-value("font-size", 16, 10);
    @media (max-width: 769px) {
      display: none;
    }
  }
  &__button {
    @extend %small-main-button;
    @include media($tablet) {
      display: none;
    }
  }
}

.bottom-header {
  height: 52px;
  color: #fff;
  background-color: $dark-color;
  @include media($tablet) {
    display: none;
  }
  & .container {
    padding-left: 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    background-color: #fff;
    padding: 7px 30px 6px 14px;
    border: none;
    border-radius: 2px;
    color: rgba(52, 52, 52, 1);
    position: relative;
    -webkit-appearance: searchfield;
    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      font-weight: 350;
      color: rgba(52, 52, 52, 0.8);
    }
  }
}
