.slider-manufactures {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  @include adaptiv-value("margin-bottom", 88, 35);
  @include media($tablet) {
    margin: 0 10px;
  }
  &__inner {
    @extend %flex;
    @include adaptiv-value("height", 205, 100);
    padding: 0 5px;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__item {
    flex: 0 0 auto;
    width: calc((1120px / 6));
  }
}
