.modal {
  &__overlay {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.25);
    transition: opacity 0.3s ease-in;
  }
  &__window {
    @extend %flex;
    width: 800px;
    max-height: 437px;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
    top: 15%;
    height: 0;
    // скрыть скролл
    &::-webkit-scrollbar {
      width: 0;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
    }
    //  анимация
    transition: all 0.5s ease-in;
    @include media(830px) {
      width: 690px;
      top: 5%;
    }
    @include media(741px) {
      flex-direction: column;
      max-height: 511px;
    }
    &-close,
    &-close-mobile {
      position: absolute;
      color: #333333;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 1%;
      top: 2%;
    }
    &-close {
      background: #fff;
      right: 1%;
      top: 2%;
      display: flex;
      @include media(741px) {
        display: none;
      }
    }
    &-close-mobile {
      display: none;
      @include media(741px) {
        display: block;
      }
    }
  }
}

.modal__right {
  text-align: center;
  max-height: 437px;
  background-color: $main-bcg-color;
  display: flex;
  flex-direction: column;
  padding: 54px 68px;
  @include media(741px) {
    width: 400px;
    padding: 16px 13px 28px;
  }
  @include media(390px) {
    width: 290px;
    padding: 16px 13px 28px;
  }
  &-img {
    background: url("./img/modal/modal-item.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 235px;
    margin: 0 auto 24px auto;
    @include media(741px) {
      display: none;
    }
  }
  &-title {
    @include adaptiv-value("font-size", 18, 16);
    font-weight: 300;
    line-height: 31px;
    color: #333333;
  }
  &-text {
    @include adaptiv-value("font-size", 24, 16);
    font-weight: 400;
    line-height: 24px;
  }
}

.modal-form {
  color: rgba(66, 66, 66, 1);
  &__title {
    @include adaptiv-value("font-size", 22, 18);
    font-weight: 500;
    line-height: 26px;
    color: #333333;
    margin-bottom: 5px;
  }
  &__subtitle {
    @include adaptiv-value("font-size", 16, 14);
    font-weight: 350;
    line-height: 21px;
    margin-bottom: 18px;
    font-weight: 350;
  }
  &__input-wrapper {
    @extend %input-wrapper;
    position: relative;
    width: 250px;
    margin: 0 auto;
  }
  &__input-wrapper.name,
  &__input-wrapper.phone,
  &__input-wrapper.email {
    &::before {
      left: 15px;
      content: url("./img/modal/email-ico.svg");
    }
  }
  &__input-wrapper.name {
    &::before {
      content: (url("./img/modal/person-icon.svg"));
    }
  }
  &__input-wrapper.phone {
    &::before {
      content: (url("./img/modal/phone-icon.svg"));
    }
  }
  &__input {
    @extend %input;
    width: 250px;
    background: #fcfcfc;
    border: 1px solid #e3e8ef;
    border-radius: 2px;
    margin-bottom: 15px;
  }
  &__button {
    @extend %small-main-button;
    width: 250px;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 15px;
  }
  &__confi {
    width: 256px;
    font-weight: 300;
    font-size: 11px;
    line-height: 132.5%;
    color: #000000;
    span > a {
      text-decoration: underline;
      cursor: pointer;
      color: #000000;
    }
    @include media(741px) {
      width: auto;
    }
  }
}

.modal__left {
  width: 400px;
  background-color: #fff;
  padding: 48px 55px;
  height: 437px;
  position: relative;
  @include media(740px) {
    margin: 0 auto;
    padding: 16px 22px;
    text-align: center;
  }
  @include media(390px) {
    width: 290px;
  }
}

// Для анимации модального окна

.modal.open .modal__overlay,
.modal.open .modal__window {
  opacity: 1;
  z-index: 1000;
}
.modal.open .modal__window {
  height: 100%;
}

.modal.hide .modal__overlay,
.modal.hide .modal__window {
  opacity: 1;
  z-index: 1000;
}
.modal.hide .modal__overlay {
  opacity: 0;
}
.modal.hide .modal__window {
  opacity: 0;
}

.modal__window,
.modal__overlay {
  opacity: 0;
  z-index: -1;
}
