.products {
  &__top {
    @extend %flex;
    gap: 13px;
  }
  &__btn-left,
  &__btn-right {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    @include media($mobile) {
      height: 30px;
      width: 30px;
    }
  }
  &__title {
    @include adaptiv-value("font-size", 28, 20);
    @include adaptiv-value("padding-left", 37, 24);
    font-weight: 400;
    line-height: 64px;
    text-transform: none;
    position: relative;
    flex: 1 0 auto;
    margin-bottom: 24px;
    &::before {
      content: "/";
      position: absolute;
      left: 12px;
      font-weight: 900;
      height: 36px;
      color: rgba(0, 180, 220, 1);
    }
  }
}
