.products-slider {
  @include adaptiv-value("margin-bottom", 53, 35);
  @include media($tablet) {
    margin: 0 10px;
  }
  &__inner {
    @extend %flex;
    @include adaptiv-value("gap", 26, 10);
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.products-slider__item {
  @include adaptiv-value("width", 264, 140);
  flex: 0 0 auto;
  @include media($tablet) {
    width: 32%;
  }
  @include media(500px) {
    width: 50%;
  }
  &-img {
    margin-bottom: 9px;
    width: 100%;
  }
  &-title {
    color: #333333;
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
  }
  &-descr {
    @include adaptiv-value("font-size", 18, 12);
    font-weight: 400;
    line-height: 24px;
    color: #020202;
  }
  &-btn {
    display: none;
    @extend %small-main-button;
    margin-top: 16px;
  }
}
