@font-face {
  font-family: 'GT Eesti Pro Display';
    src: url('./fonts/gteestiprodisplay_bold.otf') format('otf')
}
@font-face {
  font-family: 'GT Eesti Pro Display';
    src: url('./fonts/gteestiprodisplay_light.otf') format('otf'),
}
@font-face {
  font-family: 'GT Eesti Pro Display';
  src:url('./fonts/gteestiprodisplay_medium.otf') format('otf'),
}
@font-face {
  font-family: 'GT Eesti Pro Display';
    src: url('./fonts/gteestiprodisplay_regular.otf') format('otf'),
}
@font-face {
  font-family: 'GT Eesti Pro Display';
    src: url('./fonts/gteestiprodisplay_thin.otf') format('otf');
}





