%input {
  color: #bccad2;
  background-color: #fff;
  padding: 13px 0 13px 43px;
  height: 40px;
}

%input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
