body {
  font-family: "GT Eesti Pro Display", sans-serif;
  font-weight: 350;
}

.container {
  // @include adaptiv-value("max-width", 1140, 600);
  max-width: 1140px;
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  @include media($tablet) {
    padding: 0;
    max-width: 688px;
  }
}
// Селекторы аттрибута
[class*="__title"] {
  text-transform: uppercase;
}
